#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}

header>#operation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header #token {
    display: flex;
}

header #token>button {
    padding: 4px 6px;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

header #token>input {
    border-radius: 0 4px 4px 0;
}


#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 980px;
    margin: 0 auto;
}

#results>.user{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results>.user>img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 8px;
    border: solid 1px #e1e4e8
}

#results>.user>a{
    word-break: break-all;
}
