#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}

header>#main {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

header>#authentication {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 980px;
    margin: 0 auto;
}

#results>.user{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results>.user>img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 8px;
    border: solid 1px #e1e4e8
}

#results>.user>a{
    word-break: break-all;
}

input[type="text"], input[type="password"] {
    outline: none;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 12px;
    border: solid 1px rgb(225, 228, 232);
    border-radius: 6px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0366d6;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

button {
    background-color: rgb(250, 251, 252);
    cursor: pointer;
    border: rgba(27, 31, 35, 0.15) solid 1px;
    border-radius: 6px;
    padding: 5px 16px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
}

button:hover {
    background-color: rgb(243, 244, 246);
}

button:active {
    background-color: rgb(235, 236, 240);
    border-color: rgba(27, 31, 35, 0.1);
}

a {
    color: #24212e;
    text-decoration: none;
}

a:hover {
    color: #0366d6
}
